<div class="w-full text-center px-4 py-3 uppercase text-[#1280ff] bg-[#ffda00] font-semibold">
    <p class="m-0">We're Open</p>
</div>
<div class="breadcrumb text-sm">
    <div class="centered-container">
        <ul class="flex flex-row items-center md:px-4">
            <li><a href="#">All Locations</a></li>
            <!-- <li><a href="#">{{address.line1}}</a></li> -->
            <li>{{name}}</li>
        </ul>
    </div>
</div>
<div class="banner">
    <img class="w-full object-cover min-h-[250px]" src="images/banner.webp" alt="">
</div>