<div class="site-header">
    <div class="w-full text-center">
        <a href="#" class="logo">{{>logo}}</a>
    </div>
    <div class="w-full text-center hidden lg:block">
        <ul class="nav">
            <li><a href="#">Ladieswear</a></li>
            <li><a href="#">Menswear</a></li>
            <li><a href="#">School</a></li>
            <li><a href="#">Babies & Kids</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cellular</a></li>
            <li><a href="#">Money</a></li>
            <li><a href="#">Lay-by Buddy</a></li>
            <li><a href="#">Catalouges</a></li>
        </ul>
    </div>
</div>

<script>
    function hamburger() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
</script>